@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: hsl(0, 0%, 98%);
	font-family: 'Poppins', sans-serif;
}

header {
	margin: auto;
	max-width: 500px;
	text-align: center;
}

h1 {
	font-weight: 200;
	margin: 0;
}

h1 span {
	font-weight: 600;
}

p {
	color: hsl(229, 6%, 66%);
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	max-width: 1140px;
}

.box {
	background-color: #fff;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 30px;
	position: relative;
	overflow: hidden;
	margin: 15px;
	width: 350px;
}

.box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
}

.box h2 {
	margin: 0;
}

.box p {
	font-size: 14px;
	margin: 15px 0 40px;
}

.box img {
	display: block;
	margin-left: auto;
}


.box-red::after {
	background-color: hsl(0, 78%, 62%);
}

.box-cyan::after {
	background-color: hsl(180, 62%, 55%);
}

.box-orange::after {
	background-color: hsl(34, 97%, 64%);
}

.box-blue::after {
	background-color: hsl(212, 86%, 64%);
}

.box-push {
	-webkit-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	        transform: translateY(50%);
}


@media screen and (max-width: 775px) {
	.box-push {
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
    }
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    .box {
        margin: 30px auto;
    }
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 15px;
    }
}